body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}


/* Styles for the legend */
.info.legend {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.info.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
}

.info.legend div {
  clear: both;
}